<div>
    <div>
        <h2>Tecnico</h2>
    </div>
    <div class="container">    
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Matricula</span>
                <input type="text" class="form-control" placeholder="Buscar" aria-label="Seacher" aria-describedby="basic-addon1">               
            </div>
            <div><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button></div>
            <br />
            <fieldset>
            <legend>Perfil</legend>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-4"> </div>
                    <div class="col-md-2">
                        @Html.ActionLink("Editar Perfil", "EditarPerfil", "", new { @class = "btn btn-default" })
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("Visualizar Perfil", "VisualizarPerfil", "", new { @class = "btn btn-default" })
                    </div>
                    <div class="col-md-4"> </div>
                </div>                
            </div>
            </fieldset>
        </div>
        <div class="col-md-7">
            <div class="bs-example">
                <ul class="nav nav-tabs">                    
                    <li role="presentation" class="active"><a href="@Url.Action("CadastrarTriagem")">Cadastrar Triagem</a></li>
                    <li role="presentation"><a href="@Url.Action("ListarPacientes")">Pacientes</a></li>
                </ul>               
            </div>
            <br>
        </div>
    </div>
</div>