<div>
    <div>
        <h2>Tecnico</h2>
    </div>
    <div class="container">    
        <div class="col-md-3">         
            <br />
            <fieldset>
            <legend>Perfil</legend>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-4"> </div>
                    <div class="col-md-2">
                        @Html.ActionLink("Editar Perfil", "EditarPerfil", "", new { @class = "btn btn-default" })
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("Visualizar Perfil", "VisualizarPerfil", "", new { @class = "btn btn-default" })
                    </div>
                    <div class="col-md-4"> </div>
                </div>                
            </div>
            </fieldset>
        </div>
        <div class="col-md-7">
            <div class="bs-example">
                <ul class="nav nav-tabs">                    
                    <li role="presentation" class="active"><a href="@Url.Action("CadastrarTriagem")">Cadastrar Triagem</a></li>
                    <li role="presentation"><a href="@Url.Action("ListarPacientes")">Pacientes</a></li>
                </ul>               
            </div>
            <br>
        </div>
    </div>
</div>