@model IEnumerable<Model.Models.Triagem>

@{
    ViewBag.Title = "ListarPacientes";
}

<div>
    <p>
        Pacientes
    </p>
    <div class="row">
        <div class="col-md-3">            
        </div>
        <div class="bs-example">
            <ul class="nav nav-tabs">               
                <li role="presentation" ><a href="@Url.Action("CadastrarTriagem")">Cadastrar Triagem</a></li>
                <li role="presentation" class="active"><a href="@Url.Action("ListarPacientes")">Pacientes</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            @if (Model != null)
            {
                WebGrid tabela = new WebGrid(source: Model, rowsPerPage: 4, canPage: true,
                            canSort: true, defaultSort: "Paciente");
                @tabela.GetHtml(caption: "", displayHeader: true, fillEmptyRows: true,
                            emptyRowCellValue: "___", mode: WebGridPagerModes.All, numericLinksCount: 2, tableStyle: "table",
                            columns: tabela.Columns(
                                tabela.Column("Paciente.NomePaciente", "Nome"),
                                tabela.Column("DataTriagem", "Data da Triagem"),
                                tabela.Column("Ações", "Ações", canSort: false,
                                    format: (item) =>
                                        (true) ?
                                            new HtmlString(String.Format("{0}|{1}", new object[] {
                                                Html.ActionLink("Editar", "EditarTriagem", new { id = item.IdTriagem }).ToString(),                                               
                                                Html.ActionLink("Detalhes", "VisualizarPaciente", new { id = item.IdTriagem }).ToString(),
                                            }))
                                        : null
                                )
                            )
                        );
            }
            else
            {
                <p>Nenhum Paciente Cadastrado</p>
            }
        </div>
    </div>
</div>